# Gradle files
.gradle/
/build/
*.main.kts

# IDE - IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
/out/

# Local configuration
local.properties
/captures/
.externalNativeBuild
.cxx/

# Signing & Keys
*.jks
*.keystore
*.p12
google-services.json

# OS Specific
.DS_Store
Thumbs.db

# Build Outputs
*.apk
*.aab

# Room Schemas
# schemas/